/**** BTN No. 4 ****/
button {
  margin: 20px;
}
.custom-button {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.my-button {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.my-button span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.my-button:before,
.my-button:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #000;
  transition: all 0.3s ease;
}
.my-button:before {
  height: 50%;
  width: 2px;
}
.my-button:after {
  width: 20%;
  height: 2px;
}
.my-button:hover:before {
  height: 100%;
}
.my-button:hover:after {
  width: 100%;
}
.my-button span:before,
.my-button span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #000;
  transition: all 0.3s ease;
}
.my-button span:before {
  width: 2px;
  height: 50%;
}
.my-button span:after {
  width: 20%;
  height: 2px;
}
.my-button span:hover:before {
  height: 100%;
}
.my-button span:hover:after {
  width: 100%;
}
