@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');

.welcome-message{
  text-align: center;
  font-size: 1em;
  font-family: 'Roboto Serif', serif;
}

.welcome {
  text-align: left;
  margin-left: 5em;
  font-size: 1.5em;
}

.welcome-continued {
  max-width: 25em;
  margin-left: 15em;
}

.petar {
  text-align: center;
}

@media only screen and (max-width: 678px) {
  .welcome-message{
    text-align: center;
    font-size: 1em;
    font-family: 'Roboto Serif', serif;
  }

  .welcome {
    text-align: left;
    margin-left: 2em;
  }

  .welcome-continued {
    max-width: 20em;
    margin-left: 3em;
    margin-right: 3em;
    font-size: .8em;
  }

  .petar {
    text-align: center;
  }
}