/**** SNAPSHOT BUTTON ****/
.my-button {
  margin: 20px;
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.snapshot-button {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.snapshot-button span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

  /* light mode button */
  /* ============begin============== */
.snapshot-button.light:before,
.snapshot-button.light:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #000;
  transition: all 0.3s ease;
}
.snapshot-button.light span:before,
.snapshot-button.light span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #000;
  transition: all 0.3s ease;
}
  /* =============end============== */
  /* dark mode button */
  /* ============begin============== */

.snapshot-button.dark:before,
.snapshot-button.dark:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
}
.snapshot-button.dark span:before,
.snapshot-button.dark span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
}
  /* =============end============== */

.snapshot-button:before {
  height: 50%;
  width: 2px;
}
.snapshot-button:after {
  width: 20%;
  height: 2px;
}
.snapshot-button:hover:before {
  height: 100%;
}
.snapshot-button:hover:after {
  width: 100%;
}

.snapshot-button span:before {
  width: 2px;
  height: 50%;
}
.snapshot-button span:after {
  width: 20%;
  height: 2px;
}
.snapshot-button span:hover:before {
  height: 100%;
}
.snapshot-button span:hover:after {
  width: 100%;
}
