.container {
  text-align: center;
  position: absolute;
  top: 0;
  right: 8px;
  width: fit-content !important;
}
.toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  text-align: left;
  top: 8px;
}
.checkbox {
  display: none;
}
.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
}
.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  font-weight: bold;
  box-sizing: border-box;
}
.inner:before {
  content: "Dark";
  font-size: 12px;
  padding-left: 10px;
  background-color: #060;
}
.inner:after {
  content: "Light";
  font-size: 12px;
  padding-right: 10px;
  background-color: #bbb;
  text-align: right;
}
.switch {
  display: block;
  width: 20px;
  height: 20px;
  background: #fff;
  position: absolute;
  top: 8px;
  right: 50px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  right: 4px;
}