.toggle-container {
  text-align: center;
  position: absolute;
  top: 0;
  right: 8px;
  width: fit-content !important;
}
.toggle-switch {
  position: relative;
  width: 45px;
  display: inline-block;
  text-align: left;
  top: 8px;
}
.checkbox {
  display: none;
}
.label {
  height:25px;
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
}
.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.2s;
}
.inner:before,
.inner:after {
  font-size: 10px;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 27px;
  font-weight: bold;
  box-sizing: border-box;
}
.inner:before {
  content: "";
  padding-left: 7px;
  background-color: #060;
}
.inner:after {
  content: "";
  padding-right: 4px;
  background-color: #bbb;
  text-align: right;
}
.switch {
  display: block;
  width: 15px;
  height: 15px;
  background: #fff;
  position: absolute;
  top: 5.5px;
  right: 25px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.2s;
}
.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  right: 4px;
}

@media only screen and (max-width: 678px) {
  .inner:before, .inner:after {
    font-size: 9px;
  }

  .inner:before {
    padding-left: 8px;
  }
  .inner:after {
    padding-right: 5px;
  }
}