.content {
  height: 200px
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  size: 100%, 100vh;
  /* position: fixed, 0px null null 0px; */
}
.box {
  flex: none;
  size: 100px;
  line-height: 100px;
  text-align: center;
  font-size: large;
  color: #fff;
  background: #ff8330;
  will-change: scroll-position;
}
&:nth-of-type(2) {
  background: #E01B5D;
}
&:nth-of-type(3) {
  background: #30FFFF;
}
&:nth-of-type(4) {
  background: #B3FF30;
}
&:nth-of-type(5) {
  background: #308AFF;
}
&:nth-of-type(6) {
  background: #1BE059;
}