@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap');
@import './styles/styles.css';
body {
    font-family: 'Roboto Serif', serif;
}

:disabled {
    opacity: 50%;
    background-color: green;
}

#light {
    color: var(--light-mode-text) !important;
    background-color: var(--light-mode-background) !important;
}

#dark {
    color: var(--dark-mode-text) !important;
    background-color: var(--dark-mode-background) !important;
}


